.hover-lift {
    transition: transform 0.3s ease;
}

.hover-lift:hover {
    transform: translateY(-5px);
}

html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Inter';
    font-weight: 500;
}
background-image{
    height: 100vh;
}